.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 10%;
    background-color: #919f69;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: 0.6s;
}

.logo {
    font-size: 1.5rem;
    color: #fff !important;
    font-weight: 700;
    letter-spacing: 2px;
}

.navbar {
    .link-navbar {
        position: relative;
        font-size: 1.2rem;
        color: #fff;
        font-weight: 500;
        margin-left: 2.5rem;
        transition: 0.6s;

        &::before {
            content: '';
            position: absolute;
            top: 95%;
            left: 0;
            width: 0;
            height: 2px;
            background: #fff;
            transition: .3s;
        }

        &:hover::before {
            width: 100%;
        }
    }
}